.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(6, 104, 61)

}
#secuenciaADN{
    display: flex;
    justify-content: center;
    
}
#secuenciaARN{
    display: flex;
    justify-content: center;
}
#texto1{
    display: flex;
    justify-content: center;
}
#texto2{
    display: flex;
    justify-content: center;
}
#navbar{
    background-color: rgb(6, 104, 61);
}